.slider {
    -webkit-appearance: none;  /* Override default CSS styles */

    width: 95%; /* Full-width */
    height: 25px; /* Specified height */
    background: blue; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

#options {
  overflow: auto;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#credits {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

#sliders {
  float: left;
  width: 400px;
}

#buttons {
  float: right;
  width: 200px;
}

#windDir {
  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet,red);
}

#landHeight {
  background: linear-gradient(to right, indigo, yellow, indigo);
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

body {
    background-color: dimgrey;
}

form{
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: whitesmoke;
    border-style: solid;
    width: 300px;
    margin-bottom: 5px;
    text-align: center;
}

#drawCanvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;

}

.planet {
      border-width: 1px;
      border-style: solid;
      border-color: whitesmoke;
      width: 200px;
      height: 200px;
}

#skyTextureCanvas {
      border-width: 1px;
      border-style: solid;
      border-color: whitesmoke;
}

.wrapper {
    float: top;
    height: 400px;
    width: 1050px;
    overflow:scroll;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.wrapper #skyTextureCanvas { position: absolute; top: 0; left: 0; }
.wrapper #planetTexture1Canvas { position: absolute; top: 0; left: 0; }
.wrapper #planetTexture2Canvas { position: absolute; top: 0; left: 206px }
.wrapper #planetTexture3Canvas { position: absolute; top: 0; left: 412px; }
.wrapper #planetTexture4Canvas { position: absolute; top: 0; left: 618px; }
.wrapper #planetTexture5Canvas { position: absolute; top: 0; left: 824px; }

button{
    display: block;
    width: 100px;
    height: 50px;
    display: block;

    margin-left: auto;
    margin-right: auto;
}

#pauseButton{
    color:red;
    background-color: yellow;
}

#rerun{
    color:white;
    background-color: blue;
}

h1 {
    display: block;
    font-size: 4em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: center;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: center;
}
